<%- include("head.ejs") %>
<main>
    <div class="login-form">
        <span class="fill-form">
            <form method="post" action="/post">
                <label>Email</label><br>
                <input type="email" placeholder="mrwonderful@gmail.com"><p>
                <label>Password</label><br>
                <input type="password">
            </form>
        </span>
    </div>
</main>
<%- include("bottom.ejs") %>